<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matsem.pripomienkovac">

    <application
        android:allowBackup="true"
        android:icon="@drawable/pill_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".NotificationPublisher" />

        <activity
            android:name=".PillSlideActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TakePillsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PodiumActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GamesActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".HangmanActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".MelodiesActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".PexesoActivity"
            android:screenOrientation="landscape"/>
    </application>

</manifest>